[submodule "games/eb"]
	path = games/eb
	url = git@github.com:PKHackers/EBYAML.git
[submodule "games/mo2"]
	path = games/mo2
	url = git@github.com:PKHackers/MO2YAML.git
[submodule "games/mo3"]
	path = games/mo3
	url = git@github.com:PKHackers/MO3YAML.git
[submodule "libs/chromephp"]
	path = libs/chromephp
	url = https://github.com/ccampbell/chromephp.git
